# Somnia RPC URL for Shannon testnet (fallback for contracts/indexer)
SOMNIA_RPC_URL="https://rpc.ankr.com/somnia_testnet/c1ce531dd0fbe198e21479555f96b25c9b95b8eca147d69c6bb70bddf9e0a7ea"

# Private key for deployer (testnet only)
PRIVATE_KEY="your_private_key_here"

# Postgres DB (backend)
DATABASE_URL="postgres://user:password@localhost:5432/petra"
