VITE_API_URL="http://localhost:4000"
VITE_SOCKET_URL="http://localhost:4000"
VITE_INGEST_URL="rtmp://165.227.224.72/live"
VITE_HLS_BASE_URL="http://165.227.224.72:8888/live"
VITE_WEBRTC_PUBLISH_URL="http://165.227.224.72:8889/live"
VITE_ALLOW_VPS_FALLBACK="false"
VITE_WEBRTC_PUBLISH_URL_CAMERA=""
VITE_WEBRTC_PUBLISH_URL_SCREEN=""
VITE_HLS_PLAYBACK_URL_CAMERA=""
VITE_HLS_PLAYBACK_URL_SCREEN=""
VITE_SOMNIA_CHAIN_ID="2047"
VITE_SOMNIA_CHAIN_NAME="Somnia Testnet"
VITE_SOMNIA_SYMBOL="SOM"
VITE_SOMNIA_RPC_URL="https://rpc.ankr.com/somnia_testnet/your-key"
VITE_SOMNIA_EXPLORER_URL=""
VITE_CLIP_NFT_ADDRESS=""
VITE_CLIP_MARKETPLACE_ADDRESS=""
VITE_REGISTRY_ADDRESS=""
VITE_REQUIRE_STREAMER_REGISTRY="false"
VITE_WALLETCONNECT_PROJECT_ID=""
